* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.topLine {
    width: 100%;
    height: 420px;
    background-image: url('../Img/fon1.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.topLine h1{
    background-color: black;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.headLine {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: aliceblue;
    font-size: 42px;
    position: relative;
    padding-top: 80px; 
}

.topLine h4{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    color: aliceblue;
}

.topLine h3 {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    color: aliceblue;
}

.topLine h2 {
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: aliceblue;
}

.headScroll {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}

.headScrollText {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: aliceblue;
    font-size: 12px;
    padding-bottom: 18px;
}

.navbarLeft {
    width: 17%;
    height: 100%;
    position: fixed;
    background-color: rgba(46, 41, 37, 0.5);
    margin-top: -420px;
}

.navbarLogo {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 55px;
}

.logoText {
    width: 100%;
    height: auto;
    font-size: 42px;
    font-family: serif;
    color: #e6cc3d;
    word-wrap: break-word;
}

.borderYellow {
    width: 200px;
    height: 10px;
    border-bottom: 1px solid #e6cc3d;
    border-top: 1px solid #e6cc3d;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.navbarList {
    list-style-type: none;
}

.navbarLink {
    margin-top: 5px;
}

.navbarText {
    text-decoration: none;
    color: aliceblue;
    font-family: serif;
    font-size: 18px;
}

.navConnect {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(46, 41, 37, 1); 
    bottom: 0;
    position: absolute;
}

.navContentMeaning {
    color: aliceblue;
    font-family: serif;
    font-size: 14px;
}

.navContentVolue {
    color: #e6cc3d;
    font-family: serif;
    font-size: 13px;
}

.connectInfo {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#furnitureForHomeAndOffice{
    background-image: url('../Img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#Playgrounds {
    background-image: url('../Img/playground-equipment-full-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#artisticForging {
   background-image: url('../Img/maxresdefault.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}

#sportsGrounds {
    background-image: url('../Img/Kontio_050sv.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

#cushionedFurniture{
    background-image: url('../Img/Interior_Upholstered_furniture_in_the_room_032128_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
    
.dev {
    height: 40px;
    width: 100%;
    background-color: black;
}

.develop {
    width: 15%;
    height: auto;
    float: right;
}

.developers {
    color: aliceblue;
}

.bord {
    clear: both;
}

.conteiner, .mainConteiner {
    width: 100%;
    min-height: 500px;
    margin: auto;
    clear: both;
}

.Cont{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.headerCont{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
}

.headerCont p {
    font-family: serif;
    font-size: 42px;
}

.mainCont{
    float: left;
    width: 33%;
    margin-bottom: 30px;
}

.FloatFigure img{
    width: 90%;
    margin-left: 5%;
}

.FloatFigure h2{
    text-align: center;
    margin-left: 8%;
}

.FloatFigure p {
    text-align: center;
    font-family: serif;
    font-size: 22px;
    margin-left: 9%;
    word-wrap: break-word;
}

.clearSpace {
    clear: both;
    height: 6vh;
    width: 100%;
}

.headerConteiner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media only screen and (min-width: 1400px),
    only screen and (min-device-width: 768px){
    .clearFixHi {
        clear: right;
    }
}


.headerConteinerText p {
    font-family: serif;
    font-size: 38px;
}

.mainBorder {
    height: 1vh;
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.7vh;
}

.center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.mainContent {
    float: left;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.Figure {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    display: inline-block;
}

.Figure img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.Figure img{
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}

.Figure img:active{
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
}

.footCont {
    clear: both;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2vh;
}

.footCont p {
    font-family: serif;
    font-size: 28px;
}

.ligth{
    color: aliceblue;
    margin-bottom: 10px;
}

.map {
    width: 100%;
    margin-top: -0.6vh;
}

.clearFixAll{
  clear: both;  
}

@media only screen and (max-width: 1400px),
only screen and (max-device-width: 768px) {
    .navbarLeft {
        display: none;
    }
    
    .mainBorder {
        height: 1vh;
        border-top: 1px solid;
        border-bottom: 1px solid;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1.7vh;
    }
    
    .mainContent{
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .clearFixLow{
        clear: right;
    }
    
    .map{
    height: 300px;
    }
    
    .Figure img {
        height: 150px
    }
    
    .develop {
        width: auto;
    }
}